body {
  margin: 0;
}

.header-div {
  text-align: center;
}

h1 {
  font-size: 5.25rem;
  margin-top: 0;
  font-family: "Gloria Hallelujah", cursive;
}

h2 {
  font-size: 2rem;
  font-family: "Arima Madurai", cursive;
}

h3 {
  color: #4aa1a1;
}

.about-header {
  color: #4aa1a1;
  margin-bottom: 0;
  margin-top: 80px
}

.skill-header {
  font-size: 22px;
}

p {
  font-size: 22px;
}

.top-continer {
  background-color: #61a5c2;
}

.landscape {
  text-align: right;
}

#moon-img {
  width: 130px;
  height: auto;
  padding: 20px;
}

#mountain-img {
  right: 0;
  bottom: -4px;
  position: relative;
}

#upper-cloud {
  position: absolute;
  margin-top: 55px;
  margin-left: 50px;
}

#lower-cloud {
  position: absolute;
  right: 35px;
  margin-top: 90px;
  transform: scale(0.7);
}

.middle-container {
  padding-top: 20px;
  border-top: 1px solid lightgray;
  text-align: center;
  margin-bottom: 90px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

#profile-pic {
  border-radius: 150px;
}

.skill-img-left {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-img-right {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.bottom-container {
  text-align: center;
  margin-top: 60px;
}

hr {
  border: dotted darkgray 6px;
  width: 5%;
  border-bottom: none;
  margin-top: 160px;
}


.footer {
  background-color: #66bfbf;
  text-align: center;
  padding: 40px;
}

.footer-link {
  color: #11769e;
  text-decoration: none;
  font-size: 22px;
  margin-right: 20px;
  margin-left: 20px;
}

.credit {
  color: #eaf6f6;
  font-size: 16px;
  margin-top: 45px;
}
